block vars

- var pageArr = ['Projects', 'Gallery', 'Feedback'];
- var startPath = ''

if PageName === 'About'
else
    - startPath = '../'

- function findEndPath(type='html', name) {
-   return name === 'About' ? '../index.' + type : '../' + type + '/' + name.toLowerCase() + '/' + name.toLowerCase() + '.' + type;
-}

mixin about_link 
    p(class="about-link") 
        a(href=startPath + '../index.html') Anna Stetsenko

mixin nav_menu 
    ul(class="navigation") 
        each page in pageArr 
            - var className = ''                           
            - var endPath = findEndPath('html', page)

            if page !== PageName 
            else 
                - className = 'current'                           

            li(class=className + ' navigation__item')
                a(href=startPath + endPath)=page 




doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=PageTitle  
        link(rel="stylesheet", href=(startPath + findEndPath('css', PageName)))
    body 
        header 
            nav(class="mobile-nav")
                input(type="checkbox", name="mobile-menu" class="mobile-checkbox")
                label(for="mobile-menu" class="mobile-label") 
                    .burger-button 
                        each line_num in ['first', 'second', 'third']
                            span(class=line_num + '_line')

                    +about_link

                +nav_menu
            nav(class="regular-nav")  
                +about_link
                +nav_menu

        block content
        footer='Здесь что должно быть?' 